{{ define "content" }}

<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
            <p class="text-[#1b0e0e] tracking-light text-[32px] font-bold leading-tight min-w-72 font-English">My Goals</p>
            <div class="flex flex-1 gap-3 flex-wrap py-3 justify-end font-Japanese">
                <a href="/goals/new">
                    <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#ea2832] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]">
                        <span class="truncate">新しい目標を登録</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Not Started -->
        <h3 class="text-[#1b0e0e] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-0 pt-5 mt-5 font-English">Not Started</h3>
        {{ range .NotStarted }}
        <div class="md:flex items-center gap-4 bg-[#fcf8f8] px-4 min-h-[72px] py-2 justify-between font-Japanese">
            <div class="flex items-center gap-4">
                <div class="text-[#1b0e0e] flex items-center justify-center rounded-lg bg-[#f3e7e8] shrink-0 size-12" data-icon="Trophy" data-size="24px" data-weight="regular">
                    <img src="/static/images/notStarted.svg" alt="SVGicon" />
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-[#1b0e0e] text-base font-medium leading-normal line-clamp-1">{{ .Title }}</p>
                    <p class="text-[#994d51] text-sm font-normal leading-normal line-clamp-2">期限: <span>{{ .TargetDateStr }}</span></p>
                </div>
            </div>
            <div class="shrink-0 py-3 ">
                <div class="flex flex-1 gap-3 flex-wrap px-0 py-0 justify-end">
                    <a href="/goals/detail?id={{ .ID }}">
                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#E8B8BA] text-[#1b0e0e] text-sm font-medium leading-normal w-fit">
                            <span class="truncate">詳細を見る</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
        <!-- /Not Started -->


        <!-- Active Goals -->
        <h3 class="text-[#1b0e0e] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-0 pt-5 mt-5 font-English">Active Goals</h3>
        {{ range .ActiveGoals }}
        <div class="md:flex items-center gap-4 bg-[#fcf8f8] px-4 min-h-[72px] py-2 justify-between font-Japanese">
            <div class="flex items-center gap-4">
                <div class="text-[#1b0e0e] flex items-center justify-center rounded-lg bg-[#f3e7e8] shrink-0 size-12" data-icon="Trophy" data-size="24px" data-weight="regular">
                    <img src="/static/images/activeGoals.svg" alt="SVGicon" />
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-[#1b0e0e] text-base font-medium leading-normal line-clamp-1">{{ .Title }}</p>
                    <p class="text-[#994d51] text-sm font-normal leading-normal line-clamp-2">期限: <span>{{ .TargetDateStr }}</span></p>
                </div>
            </div>
            <div class="flex flex-1 gap-3 flex-wrap px-0 py-3 justify-start">
                <div class="flex flex-1 gap-3 flex-wrap px-0 py-0 justify-end">
                    <a href="/records/new?id={{ .ID }}">
                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#ea2832] text-[#fcf8f8] text-sm font-medium leading-normal tracking-[0.015em]">
                            <span class="truncate">記録を追加</span>
                        </button>
                    </a>
                    <a href="/goals/detail?id={{ .ID }}">
                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#E8B8BA] text-[#1b0e0e] text-sm font-medium leading-normal w-fit">
                            <span class="truncate">詳細を見る</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
        <!-- / Active Goals -->

        <!-- Completed Goals -->
        <h3 class="text-[#1b0e0e] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-0 pt-5 mt-5 font-English">Completed Goals</h3>
        {{ range .CompletedGoals }}
        <div class="md:flex items-center gap-4 bg-[#fcf8f8] px-4 min-h-[72px] py-2 justify-between font-Japanese">
            <div class="flex items-center gap-4">
                <div class="text-[#1b0e0e] flex items-center justify-center rounded-lg bg-[#f3e7e8] shrink-0 size-12" data-icon="Trophy" data-size="24px" data-weight="regular">
                    <img src="/static/images/completedGoals.svg" alt="SVGicon" />
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-[#1b0e0e] text-base font-medium leading-normal line-clamp-1">{{ .Title }}</p>
                    <p class="text-[#994d51] text-sm font-normal leading-normal line-clamp-2">達成日: <span>{{ .TargetDateStr }}</span></p>
                </div>
            </div>
            <div class="shrink-0 py-3">
                <div class="flex flex-1 gap-3 flex-wrap px-0 py-0 justify-end">
                    <a href="/goals/detail?id={{ .ID }}">
                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#E8B8BA] text-[#1b0e0e] text-sm font-medium leading-normal w-fit">
                            <span class="truncate">詳細を見る</span>
                        </button>

                    </a>
                </div>
            </div>
        </div>
        {{ end }}
        <!-- / Completed Goals -->

        <!-- <div class="flex justify-stretch mt-5">
            <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-start font-Japanese">
                <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#FE85AC] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]">
                    <span class="truncate">累計を見る</span>
                </button>
            </div>
        </div> -->
    </div>
</div>

{{ end }}
